{# TODO: specred-report.md 템플릿 #}
{# 변수: generated_at, usecases (id, title, tests, covered), uncovered_cases, coverage_pct #}
# specred Report

> 생성일시: {{ generated_at }}

## 커버리지 요약

전체 커버리지: {{ coverage_pct }}%

## 유즈케이스별 테스트 매핑

{# TODO: usecase별 테스트 목록과 커버 여부 렌더링 #}

## 미포함 케이스

{# TODO: 테스트가 생성되지 않은 유즈케이스 목록 #}
