{# TODO: Mermaid usecase diagram 템플릿 #}
{# 변수: title, actors, usecases (id, label, actor), relations (from, to, type) #}
%%{init: {'theme': 'default'}}%%
graph TD
  %% title: {{ title }}
  %% TODO: actor, usecase, include/extend 관계 렌더링
